body {
    background-color: rgb(200, 235, 235);
}

*{
    font-family: 'Times New Roman', Times, serif;
}

h1,h2{
    color: rgb(120, 233, 120);
    padding: 20px;
    font-size: 40px;
    border: 1px solid red;
    margin-bottom: 40px;
}

#name{
    text-align: center;
}

ul li{
    list-style-type: square;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    border-top: 8px solid red;
    background-color: rgb(233, 186, 125);
    padding: 20px;
}

ul>li{
    color: rgb(170, 119, 23);
    font-weight: bold;
}

a:hover{
    color: rgb(12, 126, 12);
}

img{
    width: 800px;
    margin-left: 40vh;
}

#box{
    width: 70vh;
    height: 50vh;
    background-color: rgb(195, 156, 233);
    border: 2px red;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
    overflow: auto;
    word-wrap: break-word;
    text-align: justify;
    /* hide scrollbar */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

li{
    padding: 10px;
}

ul{
    padding-left: 20px;
    border: 1px solid red;
    margin: 10vh;
}