body {
    background-color: rgb(200, 235, 235);
}

*{
    font-family: 'Times New Roman', Times, serif;
}

.flex-container{
    display: flex;
    justify-content: space-around center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10vh;
    border: 2px solid black;
    height: 60vh;
}

.flex-item{
    border: 1px solid red;
    padding: 20px;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-color: rgb(171, 114, 224);
    flex-grow: 1;
}

#big_item{
    flex-grow: 2;
}

.navbar {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    background-color: #866464; 
    padding: 10px 20px; 
}


.nav-link {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    padding: 20px;
}

.nav-link:hover {
    background-color: #111111; 
    color: #ffcc00; 
    border-radius: 50px; 
}
